html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    font-weight: 300;
    line-height: 1.3;
}

h1, h2, h3 {
    margin-top: 0px;
}

li {
    list-style: none;
}

a, a:visited, a:hover {
    text-decoration: none;
}