<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'discotheque/css/discotheque.css' %}">   
    <title>{% block title %}Mes collections{% endblock %}</title>
</head>
<body>

    {% include  'layouts/_nav.html' %}
    {% block content %}{% endblock content %}

</body>
</html>