{% extends 'layouts/base.html' %}

{% block content %}
<h2> {{ group }} </h2>
{% if album_list %}
    <ul>
    {% for album in album_list %}
        <li>{{ album }}
            {% for album_support in album_support_list %}
                {% if album_support.id_album_id  == album.id %}
                    {% for support in support_list %}
                        {% if support.id  == album_support.id_support_id %}        
                            <p>{{ support }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Pas d'album disponible</p>
{% endif %}
{% endblock content %}