{% extends 'layouts/base.html' %}

{% block content %}
{% if groupe_list %}
    <ul>
    {% for groupe in groupe_list %}
        <li>
        <a href="{% url 'discotheque:detail' groupe.id %}">{{ groupe }}</a> 
        <img src="{{ groupe.groupe_image.url }}" alt="">
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Pas de groupe disponible</p>
{% endif %}
{% endblock content %}